@import "default-reset";
@import "header";
@import "fonts";

//MEDIA//

//normal laptop
@media (min-width: 1200px) {
  .content{
    //background: #db0eea;
    max-width: 990px;
  }
}

//bid screens
@media (min-width: 1400px) {
  .content{
    max-width: 1200px;
  }
}

//mini - laptops or big iPad
@media (max-width: 1199px) {
  .content{
    max-width: 800px;
  }
}

//iPad
@media (max-width: 880px) {
  .content{
    max-width: 650px;
  }
}

//iPhone &iPad-mini
@media (max-width: 530px) {
  .content{
    max-width: 340px;
  }
}










//*****STYLES*****//
.katy-berry{
  font-family: KatyBerry, sans-serif, "Segoe UI";
  font-size: 50px;
  color: black;
  text-decoration: none;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: black;
}

.content{
  min-height: calc(100vh - 150px - 30px);
  margin: 0 auto;
  padding: 10px 0 0;
  height: 100%;
}

footer{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 5px 65px;
  background: black;
  color: white;
  min-height: 60px;
  span{
    padding: 20px 0;
  }

  a{
    color: inherit;
  }
}


