@import "default-reset";
@import "header";
@import "fonts";

//MEDIA//

//normal laptop
@media (min-width: 1200px) {
  .content{
    //background: #db0eea;
    max-width: 1000px;
  }
}

//bid screens
@media (min-width: 1400px) {
  .content{
    //background: #a5d7ce;
    max-width: 1280px;
  }
}

//mini - laptops or big iPad
@media (max-width: 1199px) {
  .content{
    //background: darkgoldenrod;
    max-width: 860px;
  }
}

//iPad
@media (max-width: 868px) {
  .content{
    max-width: 700px;
  }
}

//iPhone &iPad-mini
@media (max-width: 480px) {
  .content{
    max-width: 350px;
  }
}










//*****STYLES*****//
.katy-berry{
  font-family: KatyBerry, sans-serif, "Segoe UI";
  font-size: 50px;
  color: black;
  text-decoration: none;
}


.content{
  font-family: "Segoe UI", sans-serif;
  font-size: 18px;
  color: black;
  min-height: calc(100vh - 150px - 30px);
  margin: 0 auto;
  padding: 10px 0 0;
  height: 100%;
}

footer{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 5px 65px;
  background: black;
  color: white;
  min-height: 60px;
  span{
    padding: 20px 0;
  }

  a{
    color: inherit;
  }
}


